@import "tailwindcss";

:root {
  --background: #F8F8F6;
  --foreground: #111111;
  --primary: #1F5144;
  --teal: #369c82;
  --cream: #F5F2EE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-dm-sans);
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}
